* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #93cb52;
  --color-secondary: #333333;
  --color-light-secondary: rgba(51, 51, 51, 0.8);
  --color-light: #efefef;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* utility classes */
.container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
}

.btn {
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--color-secondary);
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.btn-primary {
  background-color: #93cb52;
  color: var(--color-light);
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #73b429;
}

.btn-secondary {
  background-color: transparent;
  color: var(--color-primary);
  box-shadow: inset 0px 0px 0px 0.2rem var(--color-primary);
}

.btn-secondary:hover {
  background: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  color: var(--color-secondary);
}

.heading span {
  color: var(--color-primary);
}

.text {
  font-size: 1.8rem;
  text-align: center;
}

#navbar {
  background-color: var(--color-light-secondary);
  padding: 1.45rem 2rem;
  overflow: auto;
  box-shadow: 1px 2px 4px 4px rgba(39, 37, 37, 0.2);
}

#navbar .logo {
  float: left;
  color: var(--color-light);
  font-weight: 700;
  margin-top: 0.3rem;
  font-size: 2rem;
}

#navbar .logo span {
  color: var(--color-primary);
}

#navbar .links {
  float: right;
  margin-top: 0.2rem;
}

#navbar .links .list {
  float: left;
}

#navbar .links .list a {
  color: var(--color-light);
  font-size: 1.6rem;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in;
}

#navbar .links .list a:hover {
  background-color: var(--color-primary);
}

#header {
  /* background-image: url("https://images.unsplash.com/photo-1465447142348-e9952c393450?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, cover; */
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgb(147, 203, 82, 0.5)),
    url("../assets/img/bg.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  color: var(--color-light);
  overflow: auto;
}

#header .container {
  text-align: center;
}

#header .container .header-content {
  margin-top: 35rem;
}

#header .title {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

#header .text {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

#what {
  margin: 5rem auto;
  overflow: auto;
}

#what .what-container {
  margin: 3rem 2rem;
}

#what .what-container .what-box {
  float: left;
  margin-right: 2.5rem;
  color: var(--color-secondary);
  text-align: center;
  width: 30.3%;
}

#what .what-container .what-box .icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  margin-bottom: 2.5rem;
  margin-left: 12.5rem;
}

#what .what-container .what-box .icon i {
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 3rem;
}

#what .what-container .what-box h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

#what .what-container .what-box p {
  font-size: 1.4rem;
}

#who {
  clear: both;
  margin: 5rem 0;
  background-color: var(--color-secondary);
  overflow: auto;
}

#who .img-sec {
  background: url("../assets/img/people.jpg") no-repeat center center/cover;
  width: 50%;
  height: 400px;
  float: left;
}

#who .who-content {
  width: 50%;
  padding: 3rem 5rem;
  float: right;
  color: var(--color-light);
}

#who .who-content .heading {
  color: var(--color-light);
  text-align: left;
  margin-bottom: 2rem;
}

#who .who-content .text {
  text-align: left;
  margin-bottom: 2rem;
}

#who .who-content .team-heading {
  font-size: 3rem;
}

#who .who-content ul li {
  font-size: 1.8rem;
  line-height: 5rem;
  border-bottom: 0.1rem dotted rgb(113, 113, 113);
}

#our-clients {
  margin: 5rem auto;
}

#our-clients .clients {
  width: 100%;
  margin: 2rem 8rem;
}

#our-clients .clients img {
  width: 15%;
  margin: 2.5rem;
}

#our-clients .clients img:last-child {
  margin: 0;
}

#contact-us {
  margin-top: 4rem auto;
  overflow: auto;
  background-color: var(--color-primary);
}

#contact-us .contact-form {
  width: 50%;
  float: left;
  padding: 5rem;
}

#contact-us .contact-form .heading {
  margin-bottom: 1rem;
}

#contact-us .contact-form .heading,
#contact-us .contact-form .text {
  text-align: left;
  color: var(--color-light);
}

#contact-us .contact-form .form {
  margin: 3rem 0 1rem;
}

#contact-us .contact-form .form .form-control {
  margin-bottom: 2rem;
}

#contact-us .contact-form .form .form-control label {
  font-size: 2.2rem;
  text-transform: capitalize;
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-light);
}

#contact-us .contact-form .form .form-control input,
#contact-us .contact-form .form .form-control textarea {
  border: none;
  border-radius: 2.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 1.4rem 1.5rem;
  font-size: 1.4rem;
  width: 100%;
}

#contact-us .contact-form .form .form-control textarea {
  height: 10rem;
  border-radius: 1.5rem;
}

#contact-us .contact-form .form .contact-btn {
  background-color: var(--color-secondary);
  color: var(--color-light);
  width: 100%;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2.5rem;
  border: none;
}

#contact-us .contact-map {
  float: left;
  width: 50%;
}

#contact-us .contact-map iframe {
  width: 100%;
  height: 74rem;
}

#footer {
  background-color: var(--color-secondary);
  text-align: center;
  font-size: 1.8rem;
  padding: 2rem 1rem;
  color: var(--color-light);
}
